[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
requests = "*"
scikit-image = "*"
opencv-python = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
